[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/algebra"]
	path = external/algebra
	url = git@github.com:Willu12/algebra.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
